@import "sidebar/sidebar";
@import "button/button";
@import "counter/counter";
@import "page/page";
@import "card/card";
@import "form/form";
@import "dropdown/dropdown";
@import "table/table";

*,
*::after,
*::before {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

:root {
    --color-black: #191919;

    --color-gray: #cdcdcd;
    --color-gray-mid: #e6e6e6;
    --color-gray-dark: #292929;
    
    --color-purple: #9747ff;
    --color-whiteblue: #f3f3f3;
    
    --border-big: 8px;
    --border-small: 4px;
}

.body {
    background-color: var(--color-whiteblue);
    display: flex;
}

.pad-mar_0 {
    padding: 0;
    margin: 0;
}

.title-action {
    display: flex;
    align-items: center;
    padding: 0 16px;
    justify-content: center;
    &__action {
        margin-left: auto;
    }
}

.full_width {
    width: 100%;
}

.color_gray {
    color: var(--color-gray);
}

.hide-checkbox {
    position: absolute;
    opacity: 0;
    z-index: 9;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.divided {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.fw_600 {
    font-weight: 600;
}

.fw_500 {
    font-weight: 500;
}

.fs_12 {
    font-size: 12px;
}

.color_purple {
    color: var(--color-purple);
}

.banner {
    background-color: var(--color-purple);
    color: white;
    display: flex;
    &__content {
        padding: 16px 20px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    &__image {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 20%;
        justify-self: end;
    }
    &__text {
        font-weight: 600;
        font-size: 12px;
    }
    &__mode {
        font-size: 20px;
        font-weight: 700;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}